button:hover{

}

.lista-tareas input:checked + .texto {
    text-decoration: line-through;
    text-decoration: solid;
    background-color: rgb(172, 172, 172);;
    transition: all 0.3s ease;
}

#miLista {
    list-style: none;
    width:100%;
}

#miLista input {
    display:none;
}

.principal {
    background-color: rgb(223, 223, 223);
    border-radius: 15px;
    width:max-content;
    padding: 10px;
}

button, input {
    border-radius: 5px;
}

button {
    background-color: rgb(255, 255, 255);;
}

body{
    background-color: rgb(238, 255, 242);
    text-align: center;
}