.formulario{
  width:300px;
  padding:25px;
  margin:auto;
  border-radius:12px;
  box-shadow:0 0 10px rgba(0,0,0,.1);
}

input, button{
  width:100%;
  padding:10px;
  margin:8px 0;
}

button{
  background:#2563eb;
  color:white;
  border:none;
}

button:hover{
    background:#1d4fbb;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}